@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.gradient-border-l-r {
	border-image: linear-gradient(to right, #ea580c, #9333ea) 1;
}
.gradient-border-t-b {
	border-image: linear-gradient(to bottom, #ea580c, #9333ea) 1;
}

.banner-r-l {
	animation: scrollBannerRightToLeft 60s linear infinite;
}

@keyframes scrollBannerRightToLeft {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
